{% extends "main.html" %}
{% block title %} 
BEEP
{% endblock title %}
{% block content %}
<div class="text-center">
    <h1>Получите результат загрузив файл</h1>
    <div class="container">
            <form method="post" enctype="multipart/form-data" class="row justify-content-md-center">
                <div class="col-md-auto">
                    <input type="file" accept="image/png, image/jpeg" name="file" required class="form-control">
                </div>
                <div class="col-md-auto">
                    <input type="submit" value="Upload & Analyze" class="btn btn-danger">
                </div>
            </form>
    </div>
    {% if filename1 %}
    <h3>Результат:</h3>
    <div class="container text-center justify-content-md-center">
        <div class="row justify-content-md-center">
            <!-- <div class="col"> -->
                <img src="{{ url_for('static', path='uploads/' + filename1) }}" alt="52" class="col">
            <!-- </div> -->
            <!-- <div class="col"> -->
                <img src="{{ url_for('static', path='uploads/' + filename2) }}" alt="69" class="col">
            <!-- </div> -->
        </div>
    </div>
    <p>Вердикт:</p>
    <p><strong>{{ result }}</strong></p>
    <a href="{{ url_for('static', path='uploads/' + filename2) }}" download class="btn btn-danger">Скачать результат</a>
    {% endif %}
</div>

{% endblock content %}
