{% extends "main.html" %}

{% block content %}
<div class="text-center">
    <h1>🧠 Brain Tumor Detector</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" accept="image/png, image/jpg" name="file" required>
        <input type="submit" value="Upload & Analyze">
    </form>
    {% if filename %}
    <h3>Uploaded image:</h3>
    <img src="{{ url_for('static', path='uploads/' + filename) }}" width="300">
    <p>Result:</p>
    <p><strong>{{ result }}</strong></p>
    {% endif %}
</div>

{% endblock content %}