{% extends "main.html" %}

{% block content %}
<div class="text-center">
    <h1>О нас</h1>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', path='images/memmaks.jpg') }}" alt="" width="250" style="border-radius:50%; margin-bottom: 15px;">
                <h2>Максим Харламов</h2>
                <h4>Fullstack developer</h4>
            </div>
            <div class="col">
                <img src="{{ url_for('static', path='images/memdasha.jpg') }}" alt="" width="250" style="border-radius:50%; margin-bottom: 15px;">
                <h2>Даша Шевченко</h2>
                <h4>Data Scientist/ML Engineer</h4>
            </div>
            <div class="col">
                <img src="{{ url_for('static', path='images/memsasha.jpg') }}" alt="" width="250" style="border-radius:50%; margin-bottom: 15px;">
                <h2>Саша Серенок</h2>
                <h4>IT-product manager</h4>
            </div>
            <div class="col">
                <img src="{{ url_for('static', path='images/memgrisha.jpg') }}" alt="" width="250" style="border-radius:50%; margin-bottom: 15px;">
                <h2>Гриша Карташов</h2>
                <h4>Тестировщик</h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
